*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 20px;
  max-width: 1440px;
  background-color: hsl( 204, 43%, 93%);
}
.bg-green{
  background-color: hsl(71, 73%, 54%) ;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
#box-1{
  background-color: white;
  color: hsl(218, 22%, 67%);
  width: 100vw;
  padding: 40px;
  line-height: 2rem;
}
#box-2{
  background-color: hsl(179, 62%, 43%);
  color: #FFFFFF;
  width: 50vw;
  padding: 40px;
  line-height: 3rem;
  font-size: 18px;
}
#box-3{
  background-color: hsl(179, 62%, 43%);
  color:#FFFFFF;
  opacity: 0.8;
  width: 50vw;
  padding: 50px;
  line-height: 2rem;
}
#box-1 h1{
  color: hsl(179, 62%,43%);
  padding-bottom: 30px;
}
#box-2 h2, #box-3 h2{
  padding-bottom: 30px;
}
.text-green{
  color: hsl(71, 73%, 54%);
  font-weight: bold;
  font-size: 18px;
}
.text-big{
  font-size: 40px;
  font-weight: bold;
}
.text-transparent{
  color: rgba(255, 255, 255, 0.5);
}
button{
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  border-radius: 5px;
}
button:hover{
  border: 1px solid #000000;
  background-color: hsl(71, 73%, 44%)
}

/* MEDIA QUERIES*/
@media screen and (max-width: 375px) {
  .flex-container{
    display: flex;
    flex-direction: column;
  }
  #box-1, #box-2, #box-3{
    width: 100%;
  }
}